{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-text">
                    <h1>Welcome to Hikr</h1>
                    <p class="lead lead-text">The adventure starts here.</p>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{% static 'images/cover-img.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

{% endblock %}