{% extends 'base.html' %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
				<h2>Posts</h2>
				<form action="{% url 'new_hike' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description" maxlength="250" minlength="2" required>
					</div>
					<div class="form-group">
						<label for="distance">Distance</label>
						<input type="number" class="form-control" name="distance" required>
					</div>
					<div class="form-group">
						<label for="photo_url">Photo Url</label>
						<input type="text" class="form-control" name="photo_url" required>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				
		</div>
	</div>
</div>

<!-- <h2>Posts</h2>

<form action="{% url 'new_hike' %}" method="POST">
	{% csrf_token %}
	<p>
		<label for="description">Description</label>
		<input type="text" name="description" required maxlength="250" minlength="2" />
	</p>

	<p>
		<label for="distance_hiked">Distance</label>
		<input type="number" name="distance_hiked" required />
	</p>
	<p>
		<label for="photo_url">Photo Url</label>
		<input type="text" name="photo_url" required />
	</p>

	<button type="submit">Submit</button>
</form> -->
{% endblock %}