{% extends 'home.html' %}
{% block content %}

<h2>Register</h2>

{% if error %}
<p style="background-color: red; padding: 15px;">{{ error }}
{% endif %}

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    <p>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" maxlength="20" minlength="2" required />
    </p>
    <p>
        <label for="last_name">First Name</label>
        <input type="text" name="first_name" maxlength="20" minlength="2" required />
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" maxlength="20" minlength="2" required />
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" maxlength="20" minlength="2" required />
    </p>
    <p>
        <label for="password">Last Name</label>
        <input type="password" name="password" maxlength="20" minlength="6" required />
    </p>
    <p>
        <label for="pasword2">Confirm Password</label>
        <input type="password" name="password2" maxlength="20" minlength="6" required />
    </p>

    <button type="submit">Register</button>
<form>

{% endblock %}