body{
    background-color:whitesmoke;
    color:black;
}

nav{
    background-color: rgb(147, 204, 147);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    color:white;
}

.post-container{
    height:50vh;
    width: 40vw;
    border: 1px solid black;
}

.post-container img{
    height:10vh;
    width: 10vw;
}
